<div class="text-center" style="margin-top: 20px">
  <h2>Welcome to MessageME - a complete Chat App</h2>
  <%= image_tag "icons8-cup-48.png"%>
  <h4>Log in to continue</h4>
</div>

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Log in</h3>
      <form>
        <div class="form-group">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" placeholder="Your username" value=""/>
    </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" placeholder="Your password" value=""/>
        </div>

        <div class="form-group mt-2 text-center">
          <input type="submit" class="btnSubmit" style="background-color: #9f2828;" value="Login"/>
        </div>
      </form>
    </div>
    <div class="col-md-6 login-form-2" style="background-color: #9f2828">

      <form>
        <div class="form-group text-center" style="margin-top: 90px">
          <button class="btn btn-outline-secondary btn-lg" type="button" id="button-sign" style="background-color: white; color: #9f2828">
            <%= image_tag "edit.png"%>
            <b>Sign up</b>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>